    h2 {
      font-size: 50px;
      background: aqua;
      color: white;
    }

    .mainbox {
      display: flex;
    }

    .box {
      height: 100px;
      width: 100px;
      background: green;
      margin: 2px;
      border-radius: 50%;
    }

    @media (max-width: 1200px) {
      h2 {
        font-size: 40px;
        background: green;
      }
    }

    @media (max-width: 992px) {
      h2 {
        font-size: 30px;
        background: rgb(242, 247, 0);
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 20px;
        background: red;
      }

      .mainbox {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: 576px) {
      h2 {
        font-size: 10px;
        background: purple;
      }
    }

    #Amazon {
      background-color: black;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
    }

    #Amazon a {
      color: white;
      margin-right: 20px;
      text-decoration: none;
      font-size: 18px;
    }

    .terms {
      display: flex;
      align-items: center;
    }

    .terms input {
      margin: 0;
    }

    .terms a {
      text-decoration: none;
    }

    .submit {
      padding: 4px;
      border: none;
      background-color: rgba(128, 128, 128, 0.386);
      border-radius: 5px;
      width: 25%;
    }

    .nav-container{
      background-color: black;
      color: white;
      display: flex;
    }
    .brand{
      margin-left: 10px;
      font-family: cursive;
      font-size: 25px;
      display: flex;
      align-items: center;
    }
    .nav-items ul{
      display: flex;
      flex-direction: row;
    }
    .nav-items ul li{
      list-style: none;
      cursor: pointer;
      margin: 10px;
      margin-left: 80px;
    }
    @media (max-width:768px){

    }